* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  position: relative;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
h2 {
  margin-bottom: 20px;
}
.userInput {
  width: 90%;
  height: 40px;
  margin: 5px 0;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9em;
}

ul {
  list-style: none;
}

button {
  width: 90%;
  height: 40px;
  background: linear-gradient(90deg, #387aff, #88abef );
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 0.8em;
  margin: 16px 0;
}
#member {
  font-size: 0.8em;
  font-weight: 800;
  color: black;
}

#signup {
  color: #6A9CFD;
  text-decoration: none;
}

#forget {
  color: #6A9CFD;
  font-size: 0.7em;
  font-weight: 800;
  text-align: left;
  padding-left: 5%;
}
#join {
  font-size: 0.8em;
  font-weight: 800;
}

#login {
  color: #6A9CFD;
  text-decoration: none;
}

.correct {
  color: white;
  background-color: #387aff;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 8px;
  display: none;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  display: block;
}

